[user]
	name = xygodcyx
	email = 1323943635@qq.com
[init]
	defaultBranch = main
[core]
	editor = =
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
